[supervisord]
nodaemon=true
logfile=/tmp/supervisord.log
loglevel={{ env.SUPERVISORD_LOG_LEVEL|lower or 'debug' }}
pidfile=/tmp/supervisord.pid

[program:uwsgi]
command=/venv/bin/uwsgi --ini /app/uwsgi.ini
stdout_logfile = /dev/stdout
stdout_logfile_maxbytes = 0
redirect_stderr=true

[program:nginx]
command=nginx -c /app/nginx.conf
redirect_stderr=true
stopsignal=QUIT

[program:escalation]
command= bash -c "sleep 10 && alerta escalate"
autostart=true
autorestart=true
redirect_stderr=true

[program:reactivateNR]
command= bash -c "sleep 10 && alerta reactivate_notification_rules"
autostart=true
autorestart=true
redirect_stderr=true

[program:delayNR]
command= bash -c "sleep 10 && alerta notfication_delay"
autostart=true
autorestart=true
redirect_stderr=true

{% if env.HEARTBEAT_SEVERITY -%}
[program:heartbeats]
command=sh -c "sleep 60 && alerta heartbeats --alert --severity {{ env.HEARTBEAT_SEVERITY }}"
autostart=true
autorestart=true
redirect_stderr=true
{%- endif %}
